.lapsikortti {
  width: 10em;
  height: 6em; 
  margin: 0.5em;
  padding: 2em 0 2em 2em;
  display: flex; 
  background-color: #F1C40F;
  border-radius: 25%;   
} 

.lapsikortti__nappi {
  font-size: 1.5em;
  font-family: 'Delius', cursive, sans-serif;  
  padding: 0.3em;
  width: 4.5em; 
  height: 2.7em;   
}

.lapsikortti__linkki {
  display: none;  
  justify-content: center; 
  align-items: center;
  max-width: 1em;  
  background-color: rgba(0, 0, 0, 0.1);
  margin-left: 0.7em;
}

.lapsikortti > div {
  flex: 1 1 auto;  
}

.lapsikortti:hover .lapsikortti__linkki {
  display: flex;
}

.lapsikortti__linkki a {
  color: #000;
}







