.additem {
    padding: 2em;
    padding-left: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.additem h2 {
    font-size: 5m;
    margin-bottom: 1.5em;
    color: #666;
    text-align: center;
}



