.content {     
    overflow-y: scroll;
    height: calc(100vh - 110px);
    -webkit-overflow-scrolling: touch;  
    display: grid;
    grid-template-columns: repeat(2, 1fr);  
    /*position: relative; */  
                  
}
  
::-webkit-scrollbar {
    width: 0.5em;
}
  
::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.0);
}
  
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1)
}

