
.settings h2 {
    margin-top: 1.5em;
    text-align: center;
    padding: 1em;
    color: #666;
}

.settings__userdata img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 0.5em;
}

.settings__profile {
    display: flex;
    align-items: center;
}

.settings__userdata {
    display: flex;
    align-items: center;
}

.settings__asetukset {
    align-items: center;
}

.settings__button {
    padding-left: 6.5em;
}

hr.divider {
   margin-top: 3em;;
   border-top: 3px solid #bbb;
}

/* For mobile */
@media screen and (min-width: 320px) and (max-width: 768px) {
   .settings__button {
    padding-left: 3.3em;
   }
}
