
.settings h2 {
    margin-top: 1.5em;    
    text-align: center;
    padding: 1em;
    color: #666;
}    

.settings__userdata img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 0.5em;
}

.settings__profile {
    display: flex;
    align-items: center;
}

.settings__userdata {
    display: flex;
    align-items: center;
}

.settings__asetukset {             
    align-items: center;        
}

.settings__button {   
   align-items: center; 
   /*margin-left: 3em; */  
}


